@import url("../../App.css");

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.6rem;
}

.secondContainer {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
