@import url("../../App.css");

.circle {
  border-radius: 50%;
  height: 6.25rem;
  width: 6.25rem;

  background: #a18cd1;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(161, 140, 209, 0.5),
    rgba(251, 194, 235, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(161, 140, 209, 0.5),
    rgba(251, 194, 235, 0.5)
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  font-family: var(--fontFamily);
}
