@import url("https://fonts.google.com/specimen/Nunito");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=JetBrains+Mono:wght@100;400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.smallText {
  font-family: var(--fontFamily);
  font-size: 1rem; /* 16px */
}

.mediumText {
  font-family: var(--fontFamily);
  font-size: 1.125rem; /* 18px */
}

.bigText {
  font-family: var(--fontFamily);
  font-size: 1.375rem; /* 22px */
}

.xsText {
  font-family: var(--fontFamily);
  font-size: 0.813rem; /* 13px */
}

.extraLargeText {
  font-family: var(--fontFamily);
  font-size: 1.875rem; /* 30px */
}

:root {
  --primaryColor: #bf00ff;
  --primaryColorOpacity: #bf00ffbb;
  --secondaryColor: #00ffbf;
  --secondaryColorOpacity: #00ffbfbb;
  --accentColor: #ffbf00;
  --accentColorOpacity: #ffbf00bb;
  --backgroundColor: white;
  --backgroundColorOpacity: #ffffffbb;
  --accentPrimaryColor: #3fff00;
  --accentPrimaryColorOpacity: #3fff00bb;
  --accentSecondaryColor: #ff0040;
  --accentSecondaryColorOpacity: #ff0040bb;
  --defaultBorderRadius: 0.7rem;
  --defaultBorderWidth: 0.01rem;
  --defaultBottomPadding: 0.4rem 0.8rem;
  --defaultTransition: 350ms ease-in-out;
  --errorColor: #ce0606;
  --successColor: #009070;
  --fontFamily: var(--jetbrainsFontFamily);
  --jetbrainsFontFamily: "JetBrains Mono";
}

.gradientFirst {
  background: rgb(191, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(191, 0, 255, 1) 0%,
    rgba(0, 255, 191, 1) 100%
  );
}

.gradientSecondary {
  background: rgb(191, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(191, 0, 255, 1) 0%,
    rgba(255, 6, 85, 1) 46%,
    rgba(255, 191, 0, 1) 100%
  );
}

.gradientThird {
  background: rgb(191, 0, 255);
  background: linear-gradient(
    0deg,
    rgba(191, 0, 255, 1) 0%,
    rgba(0, 255, 191, 1) 100%
  );
}

.inwardsDropshadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cardDropshadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.textBold {
  font-weight: 500;
  letter-spacing: 1px;
}

.textBold:hover {
  letter-spacing: 3px;
}

.applyFont {
  font-family: var(--fontFamily);
}

.glass {
  background: rgba(252, 247, 247, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(252, 247, 247, 0.48);
}

.profileGradient {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
